{% extends 'base.html.twig' %}
{% block body %}
  <style>
        .two{
            height:150px;
        }
        .page-item{
            cursor:pointer;
        }
  </style>
  <div style="float:left;width:45%">
    {{ render(controller('App\\Controller\\DefaultController:addpost')) }}
  </div>
  <div style="float:left;width:45%;margin-left:4%;">
    {{ render(controller('App\\Controller\\DefaultController:adduser')) }}
  </div>
  <div style="clear:both"></div>
  <nav aria-label="Page navigation example">
    {% if vararr.total!=0 %} 
        {% set nbPages=vararr.totalrest %}
        {% set currentPage=vararr.i1 %}
        {% set nearbyPagesLimit = vararr.steps %}
        <ul class="pagination">                      
              {% for i in 1..nbPages %}
                      <li class="page-item {% if currentPage == loop.index  %} active{% endif %}"><span class="page-link" onclick="listingpagination({{loop.index}})" >{{loop.index}}</span></li>
              {% endfor %}                     
        </ul>
   {% endif %} 
  </nav>
  <span onclick="hideall()" class="butsh"><u>Hide All Comments</u></span>  
  <span onclick="viewall()" class="butsh"><u>View All Comments</u></span>   
    
    <div class="row">
        <div class="col-sm-6">  
      {% for p in vararr.posts %}
          <table class="table table-striped">
            <tr>
                <td>
                    <div style="clear:both"></div>
                    <div class="messageprod{{p.id}} me"></div>
                    <div style="clear:both"></div>              
                    <button type="button" class="btn btn-danger" onclick="deletepost({{p.id}})">Delete post</button> <b>{{p.user.nameuser}}</b> <i>member since</i> {{p.user.datetime|date("d-m-Y")}} <br/><br/></td>
            </tr>
            <tr>    
                  <td class="two"><i>posted on</i> <b>{{p.datetime|date("d-m-Y h:m:s")}}</b><br/><br/>
                  {{p.txt}}
                  <br>   
                  <span onclick="showcomments({{p.id}})" class="butsh" id="hideview{{p.id}}"><u>View {{p.comments.count}} comments</u></span>
                  <span onclick="hidecomments({{p.id}})" class="butshide" id="viewhide{{p.id}}" ><u>Hide {{p.comments.count}} comments</u></span>
                  <div id="shhide{{p.id}}" class="shhide">            
                  {% for c in p.comments %}
                      <div style="clear:both"></div>
                      <div class="messagecom{{c.id}} me"></div>
                      <div style="clear:both"></div>
                      <button type="button" class="btn btn-info" onclick="deletecomment({{c.id}})">Delete</button> <b>{{c.user}} commented on {{c.datetime|date("d-m-Y h:m:s")}} </b><br/> {{c.text}} <br/>
                      {% endfor %}  
                          <div id="txt{{p.id}}"></div> 
                          <div id="comment{{p.id}}"></div>            
                          <br/><input type="button" value="add comment" id="but{{p.id}}" onclick="addcomment({{p.id}})" type="button" class="btn btn-primary">
                    </div>
                  </td>
            </tr>
          </table>
            {% if loop.index==(vararr.steps/2)|round%}
            </div><div class="col-sm-6">
            {% endif %}                      
      {% endfor %}
        </div>
      </div>
        
      <script>
          
        function hideall(){
            {% for p in vararr.posts %}
                document.getElementById("shhide"+{{p.id}}).style.display="none";
                document.getElementById("hideview"+{{p.id}}).style.display="block";
                document.getElementById("viewhide"+{{p.id}}).style.display="none";           
            {% endfor %}  
        }
        
        function viewall(){
            {% for p in vararr.posts %}
                document.getElementById("shhide"+{{p.id}}).style.display="block";
                document.getElementById("hideview"+{{p.id}}).style.display="none";
                document.getElementById("viewhide"+{{p.id}}).style.display="block";           
            {% endfor %}  
        }               
          
        function showcomments(i){
            document.getElementById("shhide"+i).style.display="block";
            document.getElementById("hideview"+i).style.display="none";
            document.getElementById("viewhide"+i).style.display="block";
        }  
          
        function hidecomments(i){
            document.getElementById("shhide"+i).style.display="none";
            document.getElementById("hideview"+i).style.display="block";
            document.getElementById("viewhide"+i).style.display="none";
        }            
          
        function listingpagination(z){
            window.location.href="{{path('default')}}?i1="+z;
         }
         
         function addcomment(id){
            
            $.ajax("{{path('addcomment')}}",{
                     type: 'POST',
                    data: {
                        id:id,
                    },             
               success: function(data) {
                   $("#but"+id).hide();
                   $("#comment"+id).html(data);
               }
            });              
         }
         
         function savecomment(id){
             $(".messagesavecom"+id).html("Saving comments has been disabled");
             /*
            var a=$('#formcomment').serialize();
            //alert(a);
            $.ajax("{{path('addcomment')}}",{
                     type: 'POST',
                     data: $('#formcomment').serialize(),            
               success: function(data) {
                   if (data.saved==true){
                        $("#txt"+id).html($("#txt"+id).html()+data.html+"<br/>");
                        $("#but"+id).show();
                        $("#comment"+id).html("");
                   }else
                        $("#comment"+id).html(data);
               }
            });       
            */
         } 
         
         function cancelcomment(id){
            $("#but"+id).show();
            $("#comment"+id).html("");             
         }
         
         function deletecomment(id){
             $(".messagecom"+id).html("Deleting comments has been disabled");
             //window.location.href="{{path('deletecomment')}}?id="+id;
         }
         
         function deletepost(id){
             $(".messageprod"+id).html("Deleting posts has been disabled");
             //window.location.href="{{path('deletepost')}}?id="+id;
         }         
         
      </script>
{% endblock %}
